@tailwind base;
@tailwind components;
@tailwind utilities;

.aside-nav {
    @apply text-center;
}

.aside-nav li {
    @apply p-2;
}

.aside-nav li:hover {
    @apply text-gray-100 bg-gray-900;
}

.aside-nav li > a {
    @apply text-gray-900;
}

.aside-nav li:hover a {
    @apply text-gray-100;
}

.aside-nav li > a:hover {
    @apply no-underline text-gray-100;
}
